/*Main content*/
main{
    padding:20px;
    text-align:center;
}
 .game-title svg {
    color: white; 
    stroke:white;
    fill:none;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 8px;
    display: inline-block; /* Ensures it doesn't disappear */
}

.home{
    color:white; /* Ensures text is visible on the background  */
    padding: 100px 20px; /* padding to have spacing around the text*/
    height: 600px; /* height of the home section*/
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center; /* centers text vertically */
    align-items:center; /* centers text horizontally */
 }

.home h2{
    font-size:50px;
    margin-bottom: 10px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Adds space between text and logo */
 }

.home p{
    font-size: 20px;
    color:white ;
    margin-bottom: 20px;
 }
 p {
    font-size: 18px;
    line-height: 1.5;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}

 @media (max-width: 480px) {
    .home {
        padding: 50px 15px; 
        height: auto;
    }

    .home h2 {
        font-size: 28px;
    }

    .home p {
        font-size: 16px;
    }
}
.logo {
    width: 120px;  /* Adjust size */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Aligns with text */
    margin:0; 
}
.section {
    padding: 50px 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

