body {
    margin: 0;
    padding: 0;
}

.rules-container {
    margin-top: 80px;
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(145deg, #1b4c81, #16213e);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1,h2{
    color: lightblue;
    margin: 15px 0;
    font-weight: bold;
}
.rules-container h4{
    padding-left:15px;
}

ul {
    text-align: left;
    padding-left: 40px;
}
span{
    padding:10px;
}
.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.credits span {
    margin-bottom: 0px;
}

a {
    color: rgb(230, 173, 209);
    text-decoration: none;
}

a:hover {
    color: red;
}
@media (max-width: 480px) {
    .rules-container {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    ul, ol {
        padding-left: 15px;
    }
    span{
        padding:5px;
    }
    .credits{
        text-align:center;
    }
}
ol {
    list-style-position: inside;
    display: flex;
    flex-direction: column; /* Makes the list items stack vertically */
    align-items: flex-start; /* Aligns the items to the left */
    padding-left: 0px;
}

ol li {
    margin-left: 20px; /* Optional: Adjust space between the numbers and the text */
}

